// $theme-colors: (
//   "primary": #5686e4,
//   "secondary": #833bec,
//   "success": #1ce1ac,
//   "info": #ff7d50,
//   "warning": #ffbe0b,
//   "danger": #ff007f,
//   "light": #c0ccda,
//   "dark": #001738,
// );

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1440px,
  xxl: 1320px
);

@import "/node_modules/bootstrap/scss/bootstrap.scss";
